:root {
    /* цвета */
    --color-text: #fff;
    --color-text-dark: #0D0D0D;
    --color-text-secondary: #808080;
    --color-primary: #FC9E11;
    --color-secondary: #E4E4E4;

    /* шрифты */
    --font-inter: "Inter Variable";
}