@import '../../vars.css';

.content{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 95%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
}

.UpperInfo{
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-start;
}

.rating{
    display: block;
    justify-content: center;
    align-items: center;
}

.ratingStar{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 48px;
    font-weight: 600;
    width: 240px;
    height: 240px;
}
.ImageContainer img{
    height: 40vh;
}
.addBasketCard{
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    border: solid 5px;
    border-color: lightgray;
}

.addBasketCard button{
    padding: 5px;
    margin: 0px 15px 0px 15px;
}

.consistens{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.InfoRow{
    padding: 5px;
}