@import '../../vars.css';

.container{
    margin-top: 80px;
    margin-left: 1%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.content{
    margin-right: auto;
    margin-left: 15px;
}

.cards{
    margin-left: 10px;
    justify-content: space-between;
}