@import '../../vars.css';

.container{
    display: flex;
}

.card{
    width: 160px;
    cursor: pointer;
    border-width: 1px;
}

.card img{
    width: 150px;
    height: 150px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-bottom: -4px;
}
.typeDuplicate{
    color: gray;
    padding: 1px;
}

.rating{
    display: flex;
}
.rating img{
    width: 15px;
    height: 15px;
}